<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Painel da Secretaria</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" [routerLink]="['/solicitacoes-secretaria']">Verificar Solicitações</button>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section management-actions mt-4">
                <h2>Gerenciamento Acadêmico</h2>
                <div class="list-group">
                  <button type="button" class="list-group-item list-group-item-action" (click)="navigateTo('/funcionariosecretaria/alunos')">
                    <i class="bi bi-person-lines-fill me-2"></i> Gerenciar Alunos
                  </button>
                  <button type="button" class="list-group-item list-group-item-action" (click)="navigateTo('/funcionariosecretaria/graduacoes')">
                    <i class="bi bi-mortarboard-fill me-2"></i> Gerenciar Graduações
                  </button>
                  <button type="button" class="list-group-item list-group-item-action" (click)="navigateTo('/funcionariosecretaria/materias')">
                    <i class="bi bi-book-half me-2"></i> Gerenciar Matérias
                  </button>
                  <button type="button" class="list-group-item list-group-item-action" (click)="navigateTo('/funcionariosecretaria/turmas')">
                    <i class="bi bi-collection-fill me-2"></i> Gerenciar Turmas
                  </button>
                </div>
              </section>
        </div>
    </div>
</div>
